<a href="https://colab.research.google.com/github/bangwalharshit/Data-Analytics/blob/main/Lead_Score_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestRegressor

In [4]:
#Load the dataset
data = pd.read_csv("Data_Science_Internship - Dump.csv")

In [5]:
data

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,3210,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,LOST,Low availability,0-0,52,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,c5b80d30c02305df10c8505fda19b224b8d7ecb57338c9...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,5b8eeb90771c2031be0b865d6688c14f7d9dcf7468d8d8...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,544c789e852c7a8d7363037ada6626f16f7a18a3eb2602...,5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed0...,NaN,e78861f53b8294e1b9965dce4099ab97edc14f8da08522...
3211,3211,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,WON,NaN,273,51,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3ef7e995c2ca31e6354bda2bbcd5acd9de5b144b1db73d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1af6835f13019b58d6e90fb0e4ffb5949e5c30766fd477...
3212,3212,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,LOST,Wants private accommodation,0-0,0,NaN,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,042d522ccd46f987dbe295492815f0464a93b9bec8a06c...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,3c44caddda7c1aa127bebaa13aaf6713964e0e943b9484...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b5f769afd41015b9a40d44d5b9a932d2fc19375415ed8a...
3213,3213,bb22552c613cd3d30888fe8c4fecac110298f9f06698ef...,LOST,Booked with competitor,£121 - £180 Per Week,Complete Education Year Stay 50 - 52 weeks,11/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,810c069040f6a9b16fdf976a901755508a87cb0224b169...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,4a9be0408cfe7451a9fc1568efc0dfa2fa523bf78ac603...
3214,3214,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,LOST,Not a student,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,0984f45bac4926c89d20cbf00195dc62f2215756f4d98d...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,c384826dfbfce62c3fd99,NaN,NaN,NaN

In [6]:
data.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [7]:
data.tail()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
3210,3210,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,LOST,Low availability,0-0,52,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,c5b80d30c02305df10c8505fda19b224b8d7ecb57338c9...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,5b8eeb90771c2031be0b865d6688c14f7d9dcf7468d8d8...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,544c789e852c7a8d7363037ada6626f16f7a18a3eb2602...,5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed0...,NaN,e78861f53b8294e1b9965dce4099ab97edc14f8da08522...
3211,3211,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,WON,NaN,273,51,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3ef7e995c2ca31e6354bda2bbcd5acd9de5b144b1db73d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1af6835f13019b58d6e90fb0e4ffb5949e5c30766fd477...
3212,3212,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,LOST,Wants private accommodation,0-0,0,NaN,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,042d522ccd46f987dbe295492815f0464a93b9bec8a06c...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,3c44caddda7c1aa127bebaa13aaf6713964e0e943b9484...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b5f769afd41015b9a40d44d5b9a932d2fc19375415ed8a...
3213,3213,bb22552c613cd3d30888fe8c4fecac110298f9f06698ef...,LOST,Booked with competitor,£121 - £180 Per Week,Complete Education Year Stay 50 - 52 weeks,11/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,810c069040f6a9b16fdf976a901755508a87cb0224b169...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,4a9be0408cfe7451a9fc1568efc0dfa2fa523bf78ac603...
3214,3214,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,LOST,Not a student,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,0984f45bac4926c89d20cbf00195dc62f2215756f4d98d...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,c384826dfbfce62c3fd99,NaN,NaN,NaN

In [8]:
data.describe()

        Unnamed: 0
count  3215.000000
mean   1607.000000
std     928.234884
min       0.000000
25%     803.500000
50%    1607.000000
75%    2410.500000
max    3214.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3215 entries, 0 to 3214
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3215 non-null   int64
 1   Agent_id        3215 non-null   object
 2   status          3215 non-null   object
 3   lost_reason     2992 non-null   object
 4   budget          2875 non-null   object
 5   lease           3028 non-null   object
 6   movein          1935 non-null   object
 7   source          3215 non-null   object
 8   source_city     3215 non-null   object
 9   source_country  3215 non-null   object
 10  utm_source      3215 non-null   object
 11  utm_medium      3215 non-null   object
 12  des_city        3215 non-null   object
 13  des_country     3214 non-null   object
 14  room_type       1449 non-null   object
 15  lead_id         3214 non-null   object
dtypes: int64(1), object(15)
memory usage: 402.0+ KB

In [10]:
#Drop the leads with STATUS other than 'WON' or 'LOST'
data = data[(data['status'] == 'WON') | (data['status'] == 'LOST')]

In [11]:
data

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,3210,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,LOST,Low availability,0-0,52,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,c5b80d30c02305df10c8505fda19b224b8d7ecb57338c9...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,5b8eeb90771c2031be0b865d6688c14f7d9dcf7468d8d8...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,544c789e852c7a8d7363037ada6626f16f7a18a3eb2602...,5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed0...,NaN,e78861f53b8294e1b9965dce4099ab97edc14f8da08522...
3211,3211,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,WON,NaN,273,51,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3ef7e995c2ca31e6354bda2bbcd5acd9de5b144b1db73d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1af6835f13019b58d6e90fb0e4ffb5949e5c30766fd477...
3212,3212,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,LOST,Wants private accommodation,0-0,0,NaN,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,042d522ccd46f987dbe295492815f0464a93b9bec8a06c...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,3c44caddda7c1aa127bebaa13aaf6713964e0e943b9484...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b5f769afd41015b9a40d44d5b9a932d2fc19375415ed8a...
3213,3213,bb22552c613cd3d30888fe8c4fecac110298f9f06698ef...,LOST,Booked with competitor,£121 - £180 Per Week,Complete Education Year Stay 50 - 52 weeks,11/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,810c069040f6a9b16fdf976a901755508a87cb0224b169...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,4a9be0408cfe7451a9fc1568efc0dfa2fa523bf78ac603...
3214,3214,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,LOST,Not a student,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,0984f45bac4926c89d20cbf00195dc62f2215756f4d98d...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,c384826dfbfce62c3fd99,NaN,NaN,NaN

In [12]:
#Drop the columns which are not required for lead scoring
data = data.drop(['lead_id', 'status', 'lost_reason'], axis=1)

In [13]:
data

,Unnamed: 0,Agent_id,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,3210,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,0-0,52,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,c5b80d30c02305df10c8505fda19b224b8d7ecb57338c9...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,5b8eeb90771c2031be0b865d6688c14f7d9dcf7468d8d8...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,544c789e852c7a8d7363037ada6626f16f7a18a3eb2602...,5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed0...,NaN
3211,3211,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,273,51,NaN,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3ef7e995c2ca31e6354bda2bbcd5acd9de5b144b1db73d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
3212,3212,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,0-0,0,NaN,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,042d522ccd46f987dbe295492815f0464a93b9bec8a06c...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,3c44caddda7c1aa127bebaa13aaf6713964e0e943b9484...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN
3213,3213,bb22552c613cd3d30888fe8c4fecac110298f9f06698ef...,£121 - £180 Per Week,Complete Education Year Stay 50 - 52 weeks,11/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,810c069040f6a9b16fdf976a901755508a87cb0224b169...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio
3214,3214,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,0984f45bac4926c89d20cbf00195dc62f2215756f4d98d...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,c384826dfbfce62c3fd99,NaN,NaN

In [14]:
#Fill NaN values with a unique identifier '9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0'
data = data.fillna('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0')

In [15]:
data

,Unnamed: 0,Agent_id,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,0-0,0,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,3210,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,0-0,52,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,c5b80d30c02305df10c8505fda19b224b8d7ecb57338c9...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,5b8eeb90771c2031be0b865d6688c14f7d9dcf7468d8d8...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,544c789e852c7a8d7363037ada6626f16f7a18a3eb2602...,5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed0...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
3211,3211,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,273,51,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3ef7e995c2ca31e6354bda2bbcd5acd9de5b144b1db73d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
3212,3212,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,0-0,0,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,042d522ccd46f987dbe295492815f0464a93b9bec8a06c...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,3c44caddda7c1aa127bebaa13aaf6713964e0e943b9484...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...
3213,3213,bb22552c613cd3d30888fe8c4fecac110298f9f06698ef...,£121 - £180 Per Week,Complete Education Year Stay 50 - 52 weeks,11/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,810c069040f6a9b16fdf976a901755508a87cb0224b169...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio
3214,3214,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,0984f45bac4926c89d20cbf00195dc62f2215756f4d98d...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,c384826dfbfce62c3fd99,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...

In [16]:
# Add a new column 'lead_score' with default value 0
data['lead_score'] = 0

In [17]:
data

,Unnamed: 0,Agent_id,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_score
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,0
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,0-0,0,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,3210,2fca346db656187102ce806ac732e06a62df0dbb2829e5...,0-0,52,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,c5b80d30c02305df10c8505fda19b224b8d7ecb57338c9...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,5b8eeb90771c2031be0b865d6688c14f7d9dcf7468d8d8...,69f81619d0ef92cbb165a44e76f4f0c284d2aa83c318fa...,544c789e852c7a8d7363037ada6626f16f7a18a3eb2602...,5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed0...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
3211,3211,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,273,51,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d79...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,d15690f08a575024650b01ffac892cfd2b93e6c57c140f...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3ef7e995c2ca31e6354bda2bbcd5acd9de5b144b1db73d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
3212,3212,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,0-0,0,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4db...,042d522ccd46f987dbe295492815f0464a93b9bec8a06c...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,3c44caddda7c1aa127bebaa13aaf6713964e0e943b9484...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0
3213,3213,bb22552c613cd3d30888fe8c4fecac110298f9f06698ef...,£121 - £180 Per Week,Complete Education Year Stay 50 - 52 weeks,11/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,810c069040f6a9b16fdf976a901755508a87cb0224b169...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,0
3214,3214,44864c96fa1c36602f0d045b268981b6cab638a60fc207...,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,0984f45bac4926c89d20cbf00195dc62f2215756f4d98d...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,c384826dfbfce62c3fd99,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,0

In [18]:
#Encode the categorical features
encoder = LabelEncoder()
for col in data.columns:
    data[col] = encoder.fit_transform(data[col])

In [19]:
data

,Unnamed: 0,Agent_id,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_score
0,0,8,295,78,175,94,537,63,1,5,100,7,0,0
1,1,15,295,78,175,94,537,63,1,5,34,7,0,0
2,2,65,306,83,170,76,538,100,15,2,10,7,1,0
3,3,82,1,0,175,117,591,100,15,2,14,7,0,0
4,4,8,295,78,175,94,537,63,1,5,68,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3210,3194,17,1,66,175,95,695,100,7,18,35,4,0,0
3211,3195,19,212,59,175,95,556,58,19,29,23,7,0,0
3212,3196,22,1,0,175,77,13,100,15,2,22,7,0,0
3213,3197,62,306,81,69,76,428,58,15,2,57,7,3,0
3214,3198,22,312,83,170,76,31,58,15,2,83,9,0,0

In [20]:
#Split the dataset into training and testing sets
X = data.drop(['lead_score'], axis=1)
y = data['lead_score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
#Train a Random Forest Regressor model on the training set
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [22]:
#Make predictions on the testing set
y_pred = rf_model.predict(X_test)

In [23]:
#Evaluate the performance of the model
print("Accuracy Score:", accuracy_score(y_test, y_pred.round()))
print("Precision Score:", precision_score(y_test, y_pred.round(), average='weighted'))
print("Recall Score:", recall_score(y_test, y_pred.round(), average='weighted'))
print("F1 Score:", f1_score(y_test, y_pred, average='weighted'))

Accuracy Score: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0

In [27]:
#Linear Regression Model

#Load the dataset
data = pd.read_csv("Data_Science_Internship - Dump.csv")

data.describe()

data.info()

#Drop the leads with STATUS other than 'WON' or 'LOST'
data = data[(data['status'] == 'WON') | (data['status'] == 'LOST')]

#Drop the columns which are not required for lead scoring
data = data.drop(['lead_id', 'status', 'lost_reason'], axis=1)

#Fill NaN values with a unique identifier '9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0'
data = data.fillna('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0')

# Add a new column 'lead_score' with default value 0
data['lead_score'] = 0

#Encode the categorical features
encoder = LabelEncoder()
for col in data.columns:
    data[col] = encoder.fit_transform(data[col])

#Split the dataset into training and testing sets
X = data.drop(['lead_score'], axis=1)
y = data['lead_score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Train a Linear Regression model on the training set
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

#Make predictions on the testing set
y_pred = lr_model.predict(X_test)

#Evaluate the performance of the model
print("Accuracy Score:", accuracy_score(y_test, y_pred.round()))
print("Precision Score:", precision_score(y_test, y_pred.round(), average='weighted'))
print("Recall Score:", recall_score(y_test, y_pred.round(), average='weighted'))
print("F1 Score:", f1_score(y_test, y_pred, average='weighted'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14453 entries, 0 to 14452
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      14453 non-null  int64
 1   Agent_id        14453 non-null  object
 2   status          14453 non-null  object
 3   lost_reason     13519 non-null  object
 4   budget          13044 non-null  object
 5   lease           13539 non-null  object
 6   movein          8805 non-null   object
 7   source          14453 non-null  object
 8   source_city     14453 non-null  object
 9   source_country  14453 non-null  object
 10  utm_source      14453 non-null  object
 11  utm_medium      14453 non-null  object
 12  des_city        14453 non-null  object
 13  des_country     14453 non-null  object
 14  room_type       6500 non-null   object
 15  lead_id         14453 non-null  object
dtypes: int64(1), object(15)
memory usage: 1.8+ MB
Accuracy Score: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0

In [25]:
#SVM Model
#Load the dataset
data = pd.read_csv("Data_Science_Internship - Dump.csv")

data.describe()

data.info()

#Drop the leads with STATUS other than 'WON' or 'LOST'
data = data[(data['status'] == 'WON') | (data['status'] == 'LOST')]

#Drop the columns which are not required for lead scoring
data = data.drop(['lead_id', 'status', 'lost_reason'], axis=1)

#Fill NaN values with a unique identifier '9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0'
data = data.fillna('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0')

# Add a new column 'lead_score' with default value 0
data['lead_score'] = 0

#Encode the categorical features
encoder = LabelEncoder()
for col in data.columns:
    data[col] = encoder.fit_transform(data[col])

#Split the dataset into training and testing sets
X = data.drop(['lead_score'], axis=1)
y = data['lead_score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Train an SVM model on the training set
from sklearn.svm import SVR
svm_model = SVR(kernel='linear')
svm_model.fit(X_train, y_train)

#Make predictions on the testing set
y_pred = svm_model.predict(X_test)

#Evaluate the performance of the model
print("Accuracy Score:", accuracy_score(y_test, y_pred.round()))
print("Precision Score:", precision_score(y_test, y_pred.round(), average='weighted'))
print("Recall Score:", recall_score(y_test, y_pred.round(), average='weighted'))
print("F1 Score:", f1_score(y_test, y_pred, average='weighted'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8038 entries, 0 to 8037
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      8038 non-null   int64
 1   Agent_id        8038 non-null   object
 2   status          8037 non-null   object
 3   lost_reason     7509 non-null   object
 4   budget          7210 non-null   object
 5   lease           7539 non-null   object
 6   movein          4817 non-null   object
 7   source          8037 non-null   object
 8   source_city     8037 non-null   object
 9   source_country  8037 non-null   object
 10  utm_source      8037 non-null   object
 11  utm_medium      8037 non-null   object
 12  des_city        8037 non-null   object
 13  des_country     8037 non-null   object
 14  room_type       3598 non-null   object
 15  lead_id         8037 non-null   object
dtypes: int64(1), object(15)
memory usage: 1004.9+ KB
Accuracy Score: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0

In [26]:

#Random Forest
#Load the dataset
data = pd.read_csv("Data_Science_Internship - Dump.csv")

data.describe()

data.info()

#Drop the leads with STATUS other than 'WON' or 'LOST'
data = data[(data['status'] == 'WON') | (data['status'] == 'LOST')]

#Drop the columns which are not required for lead scoring
data = data.drop(['lead_id', 'status', 'lost_reason'], axis=1)

#Fill NaN values with a unique identifier '9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0'
data = data.fillna('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0')

# Add a new column 'lead_score' with default value 0
data['lead_score'] = 0

#Encode the categorical features
encoder = LabelEncoder()
for col in data.columns:
    data[col] = encoder.fit_transform(data[col])

#Split the dataset into training and testing sets
X = data.drop(['lead_score'], axis=1)
y = data['lead_score']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Train a Random Forest Regressor model on the training set
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

#Make predictions on the testing set
y_pred = rf_model.predict(X_test)

#Evaluate the performance of the model
print("Accuracy Score:", accuracy_score(y_test, y_pred.round()))
print("Precision Score:", precision_score(y_test, y_pred.round(), average='weighted'))
print("Recall Score:", recall_score(y_test, y_pred.round(), average='weighted'))
print("F1 Score:", f1_score(y_test, y_pred, average='weighted'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8038 entries, 0 to 8037
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      8038 non-null   int64
 1   Agent_id        8038 non-null   object
 2   status          8037 non-null   object
 3   lost_reason     7509 non-null   object
 4   budget          7210 non-null   object
 5   lease           7539 non-null   object
 6   movein          4817 non-null   object
 7   source          8037 non-null   object
 8   source_city     8037 non-null   object
 9   source_country  8037 non-null   object
 10  utm_source      8037 non-null   object
 11  utm_medium      8037 non-null   object
 12  des_city        8037 non-null   object
 13  des_country     8037 non-null   object
 14  room_type       3598 non-null   object
 15  lead_id         8037 non-null   object
dtypes: int64(1), object(15)
memory usage: 1004.9+ KB
Accuracy Score: 1.0
Precision Score: 1.0
Recall Score: 1.0
F1 Score: 1.0